* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* Add padding to containers */
body{
  background-color: #86124c;
  
}

ul{
  list-style: none;
  
}
li{
  padding: 2px 10px;
}
input{
  height: 30px;
  width: 100%;
  border-style: none;
  border-bottom:1px solid rgb(138, 5, 5) ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.container{
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px;
  background-color: #0f4c5c;
}
.heading{
  /* background-color: red; */
}
.input-fields{
  /* background-color: green; */
}
.submit{
  /* background-color: yellow; */
  display: flex;
}